@{
    ViewData["Title"] = "Всички потребители";
}
@model List<RegularUser>

<head>
    <script src="~/js/admin.js"></script>
</head>

<body>
    @if (ViewData.ModelState.ContainsKey("invalidUserRole"))
    {
        <div class="alert alert-danger" role="alert">
            @ViewData.ModelState["invalidUserRole"].Errors.FirstOrDefault()?.ErrorMessage
        </div>
    }
    else
    {
        <div class="table-wrapper">
            <div class="text-center text-white" style="margin-bottom: 50px;">
                <h2>Всички потребители</h2>
            </div>
            <div>
                <table>
                    <tr>
                        <td style="width: 80%;">
                            <table style="width: 100%;" id="searchUsersTable">
                                <tr>
                                    <td rowspan="2" class="filterTableLabelCell text-white">Компании:</td>
                                    <td rowspan="2">
                                        <select id="companies" style="color: #495057;" name="Companies[]" multiple>
                                            @foreach (var option in ViewBag.Companies)
                                            {
                                                <option value="@option.CompanyID">@option.CompanyName</option>
                                            }
                                        </select>
                                    </td>
                                    <td class="filterTableLabelCell text-white">Име:</td>
                                    <td>
                                        <input type="text" id="firstName" name="FirstName" class="form-control">
                                    </td>
                                    <td class="filterTableLabelCell text-white">Фамилия:</td>
                                    <td>
                                        <input type="text" id="lastName" name="LastName" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="filterTableLabelCell text-white">Роля:</td>
                                    <td>
                                        <select id="role" name="Role[]" style="width: 100%;" class="form-control">
                                            <option value="ALL">Всички</option>
                                            <option value="EMPLOYEE">Служител</option>
                                            <option value="MANAGER">Управител</option>
                                        </select>
                                    </td>
                                    <td class="filterTableLabelCell text-white">Статус:</td>
                                    <td>
                                        <select id="status" style="width: 100%;" class="form-control">
                                            <option value="ALL">Всички</option>
                                            <option value="ACTIVE">Активни</option>
                                            <option value="INACTIVE">Неактивни</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width: 20%;">
                            <button type="submit" id="btnSearch" class="btn btn-block">Търси</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="fancyTable" id="allUsersTable">
                    <thead>
                        <tr>
                            <th>Компания</th>
                            <th>Име</th>
                            <th>Фамилия</th>
                            <th>Роля</th>
                            <th>Регистрация</th>
                            <th>Последно<br />влизане</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr data-id="@user.UserID">
                                <td>@user.CompanyName</td>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.Role.RoleName</td>
                                <td>@(user.RegistrationDate.HasValue ? user.RegistrationDate.Value.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture) : "")</td>
                                <td>@(user.LastLoginDate.HasValue ? user.LastLoginDate.Value.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture) : "")</td>
                                <td>@(user.IsActive ? "Активен" : "Неактивен")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</body>
