@{
    ViewData["Title"] = "Управление на потребители";
}
@model List<RegularUser>

<head>
    <link rel="stylesheet" href="~/css/common.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/admin.js"></script>
</head>

<body>
    @if (ViewData.ModelState.ContainsKey("invalidUserRole"))
    {
        <div class="alert alert-danger" role="alert">
            @ViewData.ModelState["invalidUserRole"].Errors.FirstOrDefault()?.ErrorMessage
        </div>
    }
    else
    {
        <div class="table-wrapper">
            <div style="padding-bottom: 15px;">
                <div class="submit-btn-group-left">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="companies">Компании:</label>
                                <select id="companies" name="Companies" multiple class="form-control">
                                    <option value="test1">Тест</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstName">Име:</label>
                            <input type="text" id="firstName" name="FirstName" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="submit-btn-group-right">
                    <button type="submit" id="btnSearch" class="btn btn-block" style="width: 50%; float: right;">Търси</button>
                </div>
            </div>
            <div>
                <table id="allUsersTable">
                    <thead>
                        <tr>
                            <th>Компания</th>
                            <th>Име</th>
                            <th>Фамилия</th>
                            <th>Роля</th>
                            <th>Регистрация</th>
                            <th>Последно<br />влизане</th>
                            <th>Активиран?</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr data-id="@user.UserID">
                                <td>@user.CompanyName</td>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.Role.RoleName</td>
                                <td>@(user.RegistrationDate.HasValue ? user.RegistrationDate.Value.ToString("MM/dd/yyyy") : "")</td>
                                <td>@(user.LastLoginDate.HasValue ? user.LastLoginDate.Value.ToString("MM/dd/yyyy") : "")</td>
                                <td>@(user.IsActive ? "Активен" : "Неактивен")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</body>
