@{
    ViewData["Title"] = "Курсове";
}
@model List<Course>

<head>
    <script src="~/js/employee.js"></script>
</head>

<body>
    @if (ViewData.ModelState.ContainsKey("invalidUserRole"))
    {
        <div class="alert alert-danger" role="alert">
            @ViewData.ModelState["invalidUserRole"].Errors.FirstOrDefault()?.ErrorMessage
        </div>
    }
    else
    {
        <div class="table-wrapper">
            <div class="text-center text-white" style="margin-bottom: 50px;">
                <h2>Курсове</h2>
            </div>
            <div>
                <div style="padding-bottom: 15px;">
                    <div class="submit-btn-group-right">
                        <button type="submit" id="btnSaveCourseStatus" class="btn btn-block" style="width: 50%; float: right;">Запазване</button>
                    </div>
                </div>
                <div>
                    <table class="fancyTable" id="allCoursesTable" style="max-width: 800px; margin: 50px 0;">
                        <thead>
                            <tr>
                                <th>Дата на задаване</th>
                                <th>Курс</th>
                                <th>Завършен?</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var course in Model)
                            {
                                <tr data-id="@course.CourseID">
                                    <td>@course.CreatedDate.ToString("MM/dd/yyyy")</td>
                                    <td><a href="@course.CourseURL" target="_blank" style="display: block; color: white;">@course.CourseURL</a></td>
                                    <td>
                                        <input type="checkbox" class="chkYellow chkCourseStatus" checked="@course.IsCompleted.Value" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</body>
