@{
    ViewData["Title"] = "Вход";
}
@model RegularUser

<head>
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>
    <div id="title">
        <div class="wrapper">
            <div class="topWrapper">EmpowerFlow</div>
            <div class="bottomWrapper" aria-hidden="true">EmpowerFlow</div>
        </div>
    </div>
    <div class="login-container">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="tabNames" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link @(ViewBag.IsLoginTabActive ? "active" : "")" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Вход</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewBag.IsRegisterTabActive ? "active" : "")" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Регистрация</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="tabEl">
                    <div class="tab-pane fade @(ViewBag.IsLoginTabActive ? "show active" : "")" id="login" role="tabpanel" aria-labelledby="login-tab">
                        <form asp-action="Login" method="post">
                            <div class="form-group">
                                <label for="inputUserNameLogin">Потребителско име</label>
                                <input type="text" class="form-control" id="inputUserNameLogin" asp-for="UserName" placeholder="Въведете потребителско име">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputPasswordLogin">Парола</label>
                                <input type="password" class="form-control" id="inputPasswordLogin" asp-for="Password" placeholder="Въведете парола">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            @if (ViewData.ModelState.ContainsKey("invalidUser"))
                            {
                                @foreach (var err in ViewData.ModelState["invalidUser"].Errors)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @err.ErrorMessage
                                    </div>
                                }
                            }
                            <button type="submit" id="btnLogin" class="btn btn-block">Вход</button>
                        </form>
                    </div>
                    <div class="tab-pane fade @(ViewBag.IsRegisterTabActive ? "show active" : "")" id="register" role="tabpanel" aria-labelledby="register-tab">
                        <form asp-action="Register" method="post">
                            <div class="form-group">
                                <label for="inputCompanyRegister">Компания</label>
                                <input type="text" class="form-control" id="inputCompanyRegister" asp-for="CompanyName" placeholder="Въведете компания">
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputFirstNameRegister">Име</label>
                                <input type="text" class="form-control" id="inputFirstNameRegister" asp-for="FirstName" placeholder="Въведете име">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputLastNameRegister">Фамилия</label>
                                <input type="text" class="form-control" id="inputLastNameRegister" asp-for="LastName" placeholder="Въведете фамилия">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputEmailRegister">Имейл</label>
                                <input type="email" class="form-control" id="inputEmailRegister" asp-for="Email" placeholder="Въведете имейл">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputUserNameRegister">Потребителско име</label>
                                <input type="text" class="form-control" id="inputUserNameRegisterRegister" asp-for="UserName" placeholder="Въведете потребителско име">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputPasswordRegister">Парола</label>
                                <input type="password" class="form-control" id="inputPasswordRegister" asp-for="Password" placeholder="Въведете парола">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputConfirmPasswordRegister">Потвърдете парола</label>
                                <input type="password" class="form-control" id="inputConfirmPasswordRegister" asp-for="ConfirmPassword" placeholder="Потвърдете парола">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            @if (ViewData.ModelState.ContainsKey("invalidRegistration"))
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewData.ModelState["invalidRegistration"].Errors.FirstOrDefault()?.ErrorMessage
                                </div>
                            }
                            <button type="submit" id="btnRegister" class="btn btn-block">Регистрация</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
